
.s1
{
  color: black;
  text-align: right;

}
.s2
{
  color: black;
  text-align: left;

}

.s1 b
{
  color: #cc00ff;
}

.s2 b
{
  color: rgb(143, 3, 45);
}

.s1 label
{
  height: auto;
  width: 50%;
}

.s1 label
{
  height: auto;
  width: 50%;
}
.sendmsg {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.sendmsg input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  width: fit-content;
  background-color: #fff;
  border: 1px solid #ddd;
}

.sendmsg button {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
}

.sendmsg button:hover {
  background-color: royalblue;
}


.example-container {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: #ddd;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
  background-color: #c1e8ff;
}

.menutog
{
  margin: -25px 0 0 -36px;
}
