
<mat-drawer-container class="example-container">
  <h1 style="text-align: center; color:black;">Welcome {{username}} ! </h1>
  <mat-drawer #drawer class="example-sidenav" mode="over" hasBackdrop="true" onfocus="this.style.position='absolute'">
    <h1 style="color: black; position:fixed; background-color:#c1e8ff;">Welcome to Chat {{username}} ! <span style="padding-left:20px"></span><button mat-fab class="backfab" (click)="drawer.toggle()">

      <mat-icon>navigate_before</mat-icon>
        </button></h1>
        <hr>
    <div class="msgbox">
      <div *ngFor="let c of x.slice().reverse()" >

        <div [ngClass]="{'s1':username==c.username,'s2':username!=c.username}"><label><b>{{c.username}}</b> : {{c.chat}}</label></div>
        <br>

      </div>
      <br>
      </div>
      <div class="sendmsg">
        <input #chat style="width: max;" placeholder="Enter your text....." id = "chat_line">
          <button (click)="add_to_chat(chat.value)" ><mat-icon>send</mat-icon></button>
        </div>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()" >
      Open Chats
    </button>
  </div>

</mat-drawer-container>
